
{{!-- CAROUSEL --}}

<div class="container-fluid">
  <div id-"" class="row">
    {{!-- <div class="col-12"> --}}
      <section>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/images/images.jpg" alt="First slide">
              <div class="carousel-caption d-flex justify-content-start flex-column fixed-top">
                <div class="d-flex justify-content-start flex-column w-25">
                  <h5>Saboroso Prático Saudável</h5>
                </div>
                <div class="d-flex justify-content-start">
                  <p>Receba pratos em casa toda semana</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/images/images.jpg" alt="Second slide">
              <div class="carousel-caption d-flex justify-content-start flex-column fixed-top">
                <div class="d-flex justify-content-start flex-column w-25">
                  <h5>Saboroso Prático Saudável</h5>
                </div>
                <div class="d-flex justify-content-start">
                  <p>Receba pratos em casa toda semana</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/images/images.jpg" alt="Third slide">
              <div class="carousel-caption d-flex justify-content-start flex-column fixed-top">
                <div class="d-flex justify-content-start flex-column w-25">
                  <h5>Saboroso Prático Saudável</h5>
                </div>
                <div class="d-flex justify-content-start">
                  <p>Receba pratos em casa toda semana</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
      {{!-- FORM --}}
      <div class="container-form d-none d-md-flex  d-lg-flex align-items-end  ">
      
        <div class="form-discount">
          <form>
            <div class="d-flex justify-content-start center-block  w-25 ">
              <h2>50% de desconto</h2>
            </div>
            <h3>e uma muda de tempero na primeira compra</h3>
            <div class="d-flex flex-column align-items-midle justify-content-center text-center">
              <div class="form-group">
                <label for="exampleInputEmail1">Nome</label>
                <input type="text" class="form-control input-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">E-mail</label>
                <input type="e-mail" class="form-control input-control d-inline" id="exampleInputPassword1">
              </div>
              <div>
                <button type="submit" class="btn btn-primary btn-md text-center">Quero desconto</button>

              </div>

            </div>
          </form>
        </div>
      </div>

      {{!-- </div> --}}
    </div>

  </div>



  {{!-- <div class="container-form d-none d-md-flex  d-lg-flex align-items-end  ">
    <div class="container">
      <div class="row">
        <div class="col-3">

        </div>
        <div class="col-3">
          
        </div>
        <div class="col-3">
          <div class="form-discount">
            <form>
              <div class="d-flex justify-content-start center-block  w-25 ">
                <h2>50% de desconto</h2>
              </div>
              <h3>e uma muda de tempero na primeira compra</h3>
              <div class="d-flex flex-column align-items-midle justify-content-center text-center">
                <div class="form-group">
                  <label for="exampleInputEmail1">Nome</label>
                  <input type="text" class="form-control input-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">E-mail</label>
                  <input type="e-mail" class="form-control input-control d-inline" id="exampleInputPassword1">
                </div>
                <div>
                  <button type="submit" class="btn btn-primary btn-md text-center">Quero desconto</button>

                </div>

              </div>
            </form>
          </div>
        </div>
        <div class="col-3">
          
        </div>
    </div>

    </div>

  </div> --}}
</div>
 
<section id="section-form">
 <div class="container-form-sm d-flex d-md-none d-lg-none justify-content-center align-content-midle ">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="form-discount-sm">
            <form>
              <div class="d-flex d-column flex-wrap justify-content-center center-block ">
                <div>
                  <h2>50% de desconto</h2>
                </div>
                <div>
                  <h3>e uma muda de tempero na primeira compra</h3>
                </div>
              </div>
              <div class="d-flex flex-column align-items-midle justify-content-center text-center">
                <div class="form-group">
                  <label for="exampleInputEmail1">Nome</label>
                  <input type="text" class="form-control input-control d-inline" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">E-mail</label>
                  <input type="e-mail" class="form-control input-control d-inline" id="exampleInputPassword1">
                </div>
                <div>
                  <button type="submit" class="btn btn-primary btn-md text-center">Quero desconto</button>
                </div>

              </div>
            </form>
          </div>
        </div>
    </div>
    </div>
  </div>
 </section>
{{!-- PRODUCTS CARDS --}}
 <section class="products-cards">
   <div class="container">
     <div class="row d-flex justify-content-around pb-5 pt-5 pl-2 pr-2">
     <div class="col-lg-8 h-100 text-left text-lg-left my-auto">
     <div class="card-deck mb-4">
       <div class="card card-products" style="border: none;">
         <img src="https://www.psicologoeterapia.com.br/wp-content/uploads/pessoas-influenciaveis-1.jpg"
           class="card-img-top card-logo" alt="Escolha o Seu Espaço">
         <div class="card-body">
           <h5 class="card-title">Alguém</h5>
           <p class="card-text">O produto tem excelente qualidade!</p>
         </div>
       </div>
       <div class="card card-products" style="border: none;">
         <img src="https://www.psicologoeterapia.com.br/wp-content/uploads/pessoas-influenciaveis-1.jpg"
           class="card-img-top card-logo" alt="Solicite um Orçamento para o Evento">
         <div class="card-body">
           <h5 class="card-title">Alguém</h5>
           <p class="card-text">O produto tem excelente qualidade!</p>
         </div>
       </div>
       <div class="card card-products" style="border: none;">
         <img src="https://www.psicologoeterapia.com.br/wp-content/uploads/pessoas-influenciaveis-1.jpg"
           class="card-img-top card-logo" alt="Reserve seu Espaço. Faça Seu Evento">
         <div class="card-body">
           <h5 class="card-title">Alguém</h5>
           <p class="card-text">O produto tem excelente qualidade!</p>
         </div>
       </div>
     </div>
   </div>
       <div class="col-lg-4 h-100 text-center text-lg-left my-auto">
           <h3>Kits saudáveis e saborosos</h3>
         <p>Receba nossa seleção de pratos em casa...Nossos pratos tem sabor de verdade e utilizam ingredientes da nossa rica natureza brasileira. Passam pelo processo de ultracongelamento que oferece mantem o sabor e textura por mais tempo.</p>
       </div>
   </div>
   </div>
 </section>



  {{!-- FARM CARDS --}}

  <section>
    <div class="container">
      <div class="row d-flex justify-content-around mb-5 mt-5 ml-2 mr-2">
        <div class="col-lg-4 h-100 text-left text-lg-left my-auto">
          <h3>Produtos de agricultura orgânica e familiar</h3>
          <p>Temos atenção ao processo e à nossa responsabilidade com o bem estar da sociedade.</p>
        </div>
        <div class="col-lg-8 h-100 my-auto d-flex justify-content-end">
          <div id="map">
            <img src="https://publicidademarketing.com/wp-content/uploads/2017/11/google-maps.jpg" alt="" srcset="">
          </div>
        </div>
      </div>
  </section>

  {{!-- FARM CARDS --}}


  <section class="call-to-action-discount">
    <div class="container">
      <div class="row d-flex justify-content-around pt-3 pb-3">
        <div class="col-lg-4 h-100 text-center text-lg-center my-auto">
          <h5>Receba desconto e uma muda de tempero na primeira compra</h2>
        </div>

        <div class="col-lg-8 h-100 text-center text-lg-center my-auto">

          <form class="form-inline" action="/admin" method="post">

            <label class="sr-only" for="inlineFormInputName2">Nome</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Seu nome">

            <label class="sr-only" for="inlineFormInputGroupUsername2">E-mail</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Seu e-mail">
            </div>
            <div class="col-auto mb-2 my-auto">
              <button type="submit" class="btn btn-primary">Quero um desconto</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>


  {{!-- DEPOIMENTS --}}

  <section>
    <div class="container">
      <h3 class='second-title-index mt-3 mb-3' id='card-header'>Depoimentos</h3>
      <div class="card-deck mb-4">
        <div class="card" style="border: none;">
          <img src="https://www.psicologoeterapia.com.br/wp-content/uploads/pessoas-influenciaveis-1.jpg"
            class="card-img-top card-logo" alt="Escolha o Seu Espaço">
          <div class="card-body">
            <h5 class="card-title">Alguém</h5>
            <p class="card-text">O produto tem excelente qualidade!</p>
          </div>
        </div>
        <div class="card" style="border: none;">
          <img src="https://www.psicologoeterapia.com.br/wp-content/uploads/pessoas-influenciaveis-1.jpg"
            class="card-img-top card-logo" alt="Solicite um Orçamento para o Evento">
          <div class="card-body">
            <h5 class="card-title">Alguém</h5>
            <p class="card-text">O produto tem excelente qualidade!</p>
          </div>
        </div>
        <div class="card" style="border: none;">
          <img src="https://www.psicologoeterapia.com.br/wp-content/uploads/pessoas-influenciaveis-1.jpg"
            class="card-img-top card-logo" alt="Reserve seu Espaço. Faça Seu Evento">
          <div class="card-body">
            <h5 class="card-title">Alguém</h5>
            <p class="card-text">O produto tem excelente qualidade!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{!-- FOOTER --}}

  <footer>
    <div class="d-flex justify-content-end pb-3 pt-3">
      <figure>
        <a href="http://www.facebook.com" target="_blank"><img id="footer-img-face"
            src="https://pngimage.net/wp-content/uploads/2018/05/facebook-png-cinza-2.png" alt="Facebook img"></a>
      </figure>
      <figure>
        <a href="http://www.instagram.com" target="_blank"><img id="footer-img-insta"
            src="https://cdn.icon-icons.com/icons2/792/PNG/512/INSTAGRAM_icon-icons.com_65535.png"
            alt="Instagram img"></a>
      </figure>
      <figure>
        <a href="http://www.twitter.com" target="_blank"><img id="footer-img-twitter"
            src="https://www.porchlightatl.com/wp-content/uploads/2017/08/Twitter.png" alt="Twitter img"></a>
      </figure>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>