@font-face {
  font-family: 'Roboto';
  src: url('roboto.eot'); /* IE9 Compat Modes */
  src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
 }
 * {
  margin: 0;
  padding: 0;
 }
 body {
  font: 14px 'Roboto', Helvetica, Arial, sans-serif;
 }
 a {
  color: #00B7FF;
 }
 .back-login {
  margin: 0;
  padding: 0;
  background-color: #BDC391;
  height: 100vh;
 }
 #login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
 }
 #login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
 }
 #login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
 }
 .text-login {
    color: #486398!important;
 }
 .btn-login {
  color: #fff;
  background-color: #486398!important;
  border-color: #486398!important;
 }