@font-face {
  font-family: 'Roboto';
  src: url('roboto.eot'); /* IE9 Compat Modes */
  src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  
}

html {
  font-size: 16px;
}
body {
  font: 14px 'Roboto', Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.back-login {
  margin: 0;
  padding: 0;
  background-color: #BDC391;
  height: 100vh;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

#carouselExampleIndicators {
  position: relative;
  /* width: 100vw; */
  height: 400px;
  
}
.carousel-inner img {
  height: 400px;
}


/* FORM */


.form-discount {
  position: relative;
  margin-top: 10px;
  background-color: white;
  padding: 2rem 5rem;
  width: 30%;
  border-radius: 1%;
  top: 50%;
  left: 50%;

}

.form-discount button{
  width: 20rem;
  height: 4rem;
  font-size: 1.7rem;
  border-radius: 10px;
  background: #486398;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
}

.form-discount label{
  font-size: 1rem;
}

.form-discount-sm {
  background-color: white;
  width: 100vw;
  padding: 20px;
  border-radius: 1%;

}
.form-discount-sm button{
  width: 70vw;
  height: 4rem;
  font-size: 1.7rem;
  border-radius: 10px;
  background: #486398;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
}

.form-discount-sm label{
  font-size: 1rem;
}


.input-control {
  margin-top: 1rem;
  width: 15rem;
  height: 3.5rem;
}

.container-form{
  font-size: 2rem;
  position: absolute;
  width: 100%;
  /* min-width: 100%; */
  top:130px;
  z-index: 200;

}
.container-form h2{
  color: rgb(229,46,74);
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
  line-height: 107.1%;
}
.container-form h3{
  font-size: 2rem;
}
.container-form-sm h2{
  margin-top: 30px;
  color: rgb(229,46,74);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 107.1%;
  height: 80px;
}

.container-form-sm h3{
  font-size: 2rem;
}
/* DASHBOARD */


#navbarNavAltMarkup {
  display: flex;
  justify-content: flex-end;
}

#dashboard-lead {
  font-size: 2rem;
  color: #486398!important;
}

/* DASHBOARD */

#table {
  box-shadow: 20px 30px #888888;
}

/* PRODUCTS CARDS */


.products-cards {
  background-color: #f2f2f2;
}

.card-products {
  background-color: #f2f2f2;
}


/* CARDS */

/* .card-img-logo {
  height: 70%;
  width: 70%;
  margin: 0 auto;
} */

.card-title {
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
}

.card-text {
  text-align: center;
}

#card-header {
  font-size: 2.8em;
  border: none;
  color:#3b0e06;
}

.card img {
  border-radius: 1;
  z-index: 1000;
}

/* CALL TO ACTION */


.call-to-action-discount {
  background-color: #fbfaf0;
}

.btn-primary {
  background-color: #486398;
}

/* CALL TO ACTION */

.card-title.title-depoiment {
  color:#e5c6d6;
  font-weight: 700;
  font-size: 2.5rem;
}

.text-depoiment {
  font-size: 2rem;
}

.card-img.img-depoiment {
  width: 80%;
}

.card-text.text-farm {
  text-align: left;
  font-size: 2rem;
}

/* FOOTER */


footer {
  background-color: #fbfaf0;
}

#footer-img-face {
  width: 100%;
}

#footer-img-insta {
  width: 100%;
}

#footer-img-twitter {
  width: 100%;
}

footer h2,
footer figure {
  margin: 0;
}


#sectionProcesso{
  background-color: orange;
}

.carousel-inner h5 {
  margin: 10% 20%;
  font-size: 7rem;
  text-align: left;
}
.carousel-inner p {
  margin-left: 5%;
  /* margin: 10% 20%; */
  /* font-size: 1rem; */
  text-align: left;
}

.arrow-h {
  width: 100px;
  margin-top: 60px;
  animation: setah 1s;
  display: none;
}

.arrow-h2 {
  width: 100px;
  margin-top: 60px;
  display: none;
  animation: setah 1s ease-in;
}


.arrow-v {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 85%;
  left: 85%;
  animation: setav 1s ease-in;
}

@keyframes setah {
  0%   {transform: translateX(-150px)}
  100% {transform: translateX(0); display: block;}
}

@keyframes setav {
  0%   {transform: translateY(150px);}
  100% {transform: translateX(0); }
}


@media (max-width: 2200px){
  .container-form h2{
    font-size: 2.5rem;

  }
  .container-form{
    font-size: 2rem;
    position: absolute;
    width: 100%;
    /* min-width: 100%; */
    top:60px;
    z-index: 200;
  
  }
  #carouselExampleIndicators {
    width: 100vw;
    height: 500px;
    
  }
  .carousel-inner img {
    height: 500px;
  }
  .carousel-inner h5 {
    font-size: 5rem;
  }
  .carousel-inner p {

    font-size: 2rem;

  }
  .h2, h2 {
    font-size: 1.5rem;
  }
  .arrow-v {
    left: 75%;

  }
}

@media (max-width: 1500px){
  .container-form h2{
    font-size: 2rem;
  }
  .container-form{
    font-size: 1.5rem;
    position: absolute;
    width: 100%;
    /* min-width: 100%; */
    top:135px;
    z-index: 200;
  
  }
  .container-form h3{
    font-size: 1.5rem;
  }
  #carouselExampleIndicators {
    width: 100vw;
    height: 500px;
    
  }
  .carousel-inner img {
    height: 500px;
  }
  .carousel-inner h5 {
    font-size: 5rem;
  }
  .carousel-inner p {
    font-size: 1.7rem;
  }
  .input-control {
    width: 10rem;
    height: 2.5rem;
  }
  .form-discount button{
    width: 15rem;
    height: 4rem;
    font-size: 1.5rem;
  }
  .form-discount {
    height: 20%;
    width: 30%;
    /* height: 40vh; */
    border-radius: 1%;
    top: 60%;
    left: 53%;
    /* transform: translate(-50%, -50%); */
  }
  #card-header{
    font-size: 2rem;
  }
  .card-text.text-farm {
    text-align: left;
    font-size: 1.5rem;
  }
  .h2, h2 {
    font-size: 1.5rem;
  }
  .text-depoiment {
    font-size: 1.5rem;
  }
  .products-cards img {
    size: 10px;
  }
}
  

@media (max-width: 500px){
  
  .carousel-inner h5 {
    font-size: 3rem;
  }
  .carousel-inner p {
    margin-top: 30px;
    width: 60%;
    font-size: 1.5rem;

  }
  .input-control {
    width: 10rem;
    height: 2.5rem;
  }
  .form-discount button{
    width: 15rem;
    height: 4rem;
    font-size: 1.5rem;
  }
}

/* LAST CHANGES */

#text-dashboard {
  color: #486398!important;
}


/* MAP */

#map {
  height: 500px;
}

  #carouselExampleIndicators {
    position: relative;
    height: 400px;
    width: 150vw;

    
  }
  .carousel-inner img {
    height: 400px;
  }

}
