@font-face {
  font-family: 'Roboto';
  src: url('roboto.eot'); /* IE9 Compat Modes */
  src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%
}
body {
  font: 14px 'Roboto', Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.back-login {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

#carouselExampleIndicators {
  position: relative;
  width: 100vw;
  height: 400px;
  
}
.carousel-inner img {
  height: 400px;
}


/* FORM */


.form-discount {
  position: relative;
  margin-top: 10px;
  background-color: white;
  padding: 2rem 5rem;
  width: 30%;
  /* height: 40vh; */
  border-radius: 1%;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.form-discount button{
  width: 20rem;
  height: 4rem;
  font-size: 1.7rem;
  border-radius: 10px;
  background: #486398;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
}

.form-discount label{
  font-size: 1rem;
}

.form-discount-sm {
  background-color: white;
  width: 100vw;
  height: 40vh;
  border-radius: 1%;

}
.form-discount-sm button{
  width: 70vw;
  height: 4rem;
  font-size: 1.7rem;
  border-radius: 10px;
  background: #486398;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
}

.form-discount-sm label{
  font-size: 1rem;
}


.input-control {
  margin-top: 1rem;
  width: 15rem;
  height: 3.5rem;
}

.container-form{
  font-size: 2rem;
  position: absolute;
  width: 100%;
  /* min-width: 100%; */
  top:120px;
  z-index: 200;

}
.container-form h2{
  color: rgb(229,46,74);
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
  line-height: 107.1%;
}
.container-form h3{
  font-size: 2rem;
}
.container-form-sm h2{
  color: rgb(229,46,74);
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
  line-height: 107.1%;
}

.container-form-sm h3{
  font-size: 2rem;
}
/* DASHBOARD */


#navbarNavAltMarkup {
  display: flex;
  justify-content: flex-end;
}

#dashboard-lead {
  font-size: 2rem;
}

/* DASHBOARD */

#table {
  box-shadow: 20px 30px #888888;
}

/* PRODUCTS CARDS */


.products-cards {
  background-color: #f2f2f2;
}

.card-products {
  background-color: #f2f2f2;
}


/* CARDS */

/* .card-img-logo {
  height: 70%;
  width: 70%;
  margin: 0 auto;
} */

.card-title {
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
}

.card-text {
  text-align: center;
}

#card-header {
  font-size: 2.8em;
  border: none;
  color:#3b0e06;
}

.card img {
  border-radius: 1;
}

/* CALL TO ACTION */


.call-to-action-discount {
  background-color: #fbfaf0;
}

.btn-primary {
  background-color: #486398;
}

/* CALL TO ACTION */

.card-title.title-depoiment {
  color:#e5c6d6;
  font-weight: 700;
  font-size: 2.5rem;
}

.text-depoiment {
  font-size: 2rem;
}

.card-img.img-depoiment {
  width: 80%;
}

.card-text.text-farm {
  text-align: left;
  font-size: 2rem;
}

/* FOOTER */


footer {
  background-color: #fbfaf0;
}

#footer-img-face {
  width: 100%;
}

#footer-img-insta {
  width: 100%;
}

#footer-img-twitter {
  width: 100%;
}

footer h2,
footer figure {
  margin: 0;
}


#sectionProcesso{
  background-color: orange;
}

.carousel-inner h5 {
  margin: 10% 20%;
  font-size: 7rem;
  text-align: left;
}
.carousel-inner p {
  margin-left: 5%;
  /* margin: 10% 20%; */
  /* font-size: 1rem; */
  text-align: left;
}
